.control-group
  %label.control-label Type
  .controls
    %label.checkbox= credit_card.type
.control-group
  %label.control-label Number
  .controls
    %label.checkbox= credit_card.number
.control-group
  %label.control-label Expire month
  .controls
    %label.checkbox= credit_card.expire_month
.control-group
  %label.control-label Expire year
  .controls
    %label.checkbox= credit_card.expire_year
